#baseURL{
	display:none;
}

/**Show**/
.show-view {
	padding-left:30px;
	font-size:16px;
}
.show-view .view-label {
	font-weight: bold;
}
.show-view .view-text{
	
	
}
.show-menu p{
	padding-left:30px;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}