/**Common Styles**/

a .top-link, a .top-link:hover {
	text-decoration: none;
}

td {
	vertical-align: middle !important;
}

/* Spinner */
.spinner {
	background: url(../images/cargando.gif) 50% 50% no-repeat black;
   	position: fixed;
   	display:block;
    	right: 0;
	top: 0;
	left:0;
	bottom:0;
	opacity:0.8
}

/**Show**/
.show-view {
	padding-left:30px;
	font-size:16px;
}
.show-view .view-label {
	font-weight: bold;
}
.show-view .view-text{
	
	
}
.show-menu p{
	padding-left:30px;
}
